*{
    /* Zerando */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* Fontes */
    font-family: 'Poppins', sans-serif;

    /* Configurando background-image */
    background: url('../assets/bgyuyu.jpg') no-repeat top center;
    background-attachment: fixed; 
    background-size: cover; 
    display: grid;
    
    /* Alinhamento */
    align-items: center;
    justify-items: center;
    height:100vh;
    color: #512E4C;
}

li{
    /* Tirando bolinhas da li */
    list-style: none;
}

img{

    /* Para que não estique = display:block */
    display:block;
    max-width: 100%;
}

.box {
    /* Cores */
    background: #eee;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    
    /* Ajustando Box */
    padding: 4rem;
    border-radius: 50px;
    text-align:center;
}

.title{
    font-size: 36px;
    font-weight: 500;
}

.user-pic{
    width: 250px;
    border-radius: 50%;
    margin: 0 auto 2rem auto;
}

.redes-sociais{
    display:flex;
    justify-content: center;
}

.redes-sociais li{
    margin-right: 1rem;
}

.profile span{
    font-size: 24px;
    font-weight: 400;
}

.profile p{
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}